* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5 {
    font-size: 16px;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

html {
    font-size: 16px;
}

body {
    font-family: Arial;
    font-style: normal;
    font-size: 0,9375rem;
    //color: #fff;
}

.wrapper {
    background-color: #1b3a57;
    min-height: 100vh;
    padding-bottom: 40px;
    position: relative;
}
.container {
    max-width: 1296px;
     margin: 0 auto;
     padding: 0 10px;
     @media only screen and (max-width: 1200px) {
         width: 95%;
     }
     

}
.header {
    display: flex;
    flex-wrap: wrap;
    @media only screen and (max-width: 550px) {
        flex-direction: column;
    }
    &__logo {
        margin-top: 20px;
    }
    &__description {
        margin-left: auto;
        padding-top: 8px;
        @media only screen and (max-width: 550px) {
            margin-left: 0;
            margin-top: 25px;
        }
    }
    &__description-text {
        color: #fff;
        font-size: 12px;
        margin-bottom: 4px;
        text-align: right;
        @media only screen and (max-width: 550px) {
            text-align: left;
        }
        &:first-child {
            font-size: 15px;
        }
        &:nth-child(2) {
            color: #fbc10a;
        }
    }
}

.main {
    padding-top: 40px;
    &__title {
        margin: 0;
        //font-size: 15px;
        font-weight: bold;
        letter-spacing: normal;
        color: #fff;
        margin-bottom: 20px;
    }
    &__content {
        display: flex;
        flex-wrap: wrap;
        @media only screen and (max-width: 650px) {
            flex-direction: column;
        }
    }
    &__content-title {
        display: flex;
        align-items: center;
        margin-bottom: 13px;
        font-size: 15px;
        font-weight: bold;
        color: #fff;
        
        span {
            margin-left: 10px;
        }
    }
    &__left-content {
        //flex: 0 0 366px;
        flex: .3;
        margin-right: 30px;
        @media only screen and (max-width: 650px) {
            margin-right: 0;
        }
    }
    &__right-content {
        flex: .7;
        @media only screen and (max-width: 650px) {
            display: none;
        }
    }
    &__content-list {
        margin-bottom: 30px;
    }
    &__content-item {
        margin-bottom: 10px;
    }
    &__content-link {
        display: flex;
        align-items: center;
        color: #fff;
        // width: 366px;
        height: 48px;
        border-radius: 4px;
        background-color: #2e5ba9;
        &:hover {
            background-color: #1c6efd;
        }
        &--right {
            background-color: #288754;
            &:hover {
                background-color: #288754;
            }
        }
        &--out {
            background-color: transparent;
            border: solid 1px #fbc10a;
            color:#fbc10a;
            &:hover {
                background-color: transparent;
            }
        }
    }
    &__content-icon {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.form {

    &__group {
        max-width: 645px;
        margin-bottom: 30px;
        padding: 20px 30px;
        background-color: #285580;
        
    }
    &__group-title {
        color: #fff;
        margin-bottom: 35px;
        line-height: 22px;
        &--text {
            //margin-bottom: 0;
        }
        &--file {
            //margin-bottom: -9px;
        }
    }
    &__group-star {
        color: red;
        font-size: 21px;
    }
    &__group-item {
        width: 125px;
        position: relative;
        &--text {
            
            width: 75%;
            @media screen and (max-width: 550px) {
                width: 100%;
            }
        }

        &.input-field{
            margin-bottom: 0;
            position: relative;
        }
        &.input-field > label:not(.label-icon).active {
            transform: translateY(-21px) scale(0.8);
        }


        input[type=text]:not(.browser-default){
            height: 2rem;
            color: #fff!important;
            border-bottom: 2px solid #fff;
        }

        .input-field > label {
            color: #fff;
        }

        [type="radio"]:not(:checked) + span {
            color: #fff;
        }

        [type="radio"]:not(:checked) + span:before, [type="radio"]:not(:checked) + span:after {
            border: 2px solid #fff;
        }
        [type="radio"].with-gap:checked + span:before, [type="radio"].with-gap:checked + span:after {
            border: 2px solid #fff;
        }
        [type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after {
            background-color: #fff;
        }
        label {
            color: #fff;
        }
        .file-path-wrapper  input::-webkit-input-placeholder, 
        .file-path-wrapper .file-path.validate {
            font-size: 1rem;
            color: #fff;
        }
        input.valid[type=text]:not(.browser-default){
            border-bottom: none!important;
            box-shadow: none!important;
        }
    }

    &__wrap-input-feild {
        border: 2px solid transparent;
        position: relative;
        width: 194px;
        height: 43px;

        .icon-upload {
            position: absolute;
            left: 13px;
            top: 15px;
            font-size: 17px;

        }
        .btn {
            width: 191px;
            height: 43px;
            border-radius: 3px;
            background-color: #288754;
            border-bottom: none;
        }
        .btn:hover {
            box-shadow: none!important;
        }

        .file-path-wrapper {
            overflow:initial; 
            padding-left: 0px;
            
        }

        .file-path.validate {
            position: absolute;
            top: 0;
            left: 0;
            width: 151px;
            height: 43px;
            line-height: 43px;
            border-radius: 3px;
            background-color: #288754;
            
            border-bottom: none;
            color: #fff;
            font-size: 17px;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-left: 10px;
            padding-right: 30px;
            display: none;
            &.valid {
                display: block;
                cursor: not-allowed;
                & ~ .file-icon-close {
                    display: block;
                }
            }
           
        }

        .file-icon-close{
            position: absolute;
            color: #fff;
            top: 11px;
            left: 160px;
            display: none;
        }
        
    }

    &__date-icon {
        position: absolute;
        right: -124px;
        bottom: -37px;
        cursor: pointer;
    }
    &__btn {
        width: 130px;
        border-radius: 3px;
        background-color: #1c6efd;
        height: 43px;
        line-height: 43px;
    }
}

.modal-page {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 9999;
    display: none;
    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;;
        justify-content: center;
        align-items: center;
        
    }
    &__inner {
        width: 420px;
        height: 217px;
        border: solid 2px #fff;
        background-color: #fff;
        padding: 24px 35px;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 426px) {
            width: 310px;
        }
       
    }
    &__title {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        font-weight: bold;
    }
    &__icon-warning {
        margin-right: 10px;
    }
    &__icon-close {
        margin-left: auto;
        cursor: pointer;
    }
    &__btn {
        margin-top: auto;
    }
}


.activ-bg {
    background-color: #1c6efd;
}

.show {
    display: block;
}