* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial;
  font-style: normal;
  font-size: 0,9375rem;
}

.wrapper {
  background-color: #1b3a57;
  min-height: 100vh;
  padding-bottom: 40px;
  position: relative;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
  padding: 0 10px;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 95%;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 550px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__logo {
  margin-top: 20px;
}

.header__description {
  margin-left: auto;
  padding-top: 8px;
}

@media only screen and (max-width: 550px) {
  .header__description {
    margin-left: 0;
    margin-top: 25px;
  }
}

.header__description-text {
  color: #fff;
  font-size: 12px;
  margin-bottom: 4px;
  text-align: right;
}

@media only screen and (max-width: 550px) {
  .header__description-text {
    text-align: left;
  }
}

.header__description-text:first-child {
  font-size: 15px;
}

.header__description-text:nth-child(2) {
  color: #fbc10a;
}

.main {
  padding-top: 40px;
}

.main__title {
  margin: 0;
  font-weight: bold;
  letter-spacing: normal;
  color: #fff;
  margin-bottom: 20px;
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 650px) {
  .main__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 13px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}

.main__content-title span {
  margin-left: 10px;
}

.main__left-content {
  -webkit-box-flex: .3;
      -ms-flex: .3;
          flex: .3;
  margin-right: 30px;
}

@media only screen and (max-width: 650px) {
  .main__left-content {
    margin-right: 0;
  }
}

.main__right-content {
  -webkit-box-flex: .7;
      -ms-flex: .7;
          flex: .7;
}

@media only screen and (max-width: 650px) {
  .main__right-content {
    display: none;
  }
}

.main__content-list {
  margin-bottom: 30px;
}

.main__content-item {
  margin-bottom: 10px;
}

.main__content-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  height: 48px;
  border-radius: 4px;
  background-color: #2e5ba9;
}

.main__content-link:hover {
  background-color: #1c6efd;
}

.main__content-link--right {
  background-color: #288754;
}

.main__content-link--right:hover {
  background-color: #288754;
}

.main__content-link--out {
  background-color: transparent;
  border: solid 1px #fbc10a;
  color: #fbc10a;
}

.main__content-link--out:hover {
  background-color: transparent;
}

.main__content-icon {
  margin-left: 10px;
  margin-right: 10px;
}

.form__group {
  max-width: 645px;
  margin-bottom: 30px;
  padding: 20px 30px;
  background-color: #285580;
}

.form__group-title {
  color: #fff;
  margin-bottom: 35px;
  line-height: 22px;
}

.form__group-star {
  color: red;
  font-size: 21px;
}

.form__group-item {
  width: 125px;
  position: relative;
}

.form__group-item--text {
  width: 75%;
}

@media screen and (max-width: 550px) {
  .form__group-item--text {
    width: 100%;
  }
}

.form__group-item.input-field {
  margin-bottom: 0;
  position: relative;
}

.form__group-item.input-field > label:not(.label-icon).active {
  -webkit-transform: translateY(-21px) scale(0.8);
          transform: translateY(-21px) scale(0.8);
}

.form__group-item input[type=text]:not(.browser-default) {
  height: 2rem;
  color: #fff !important;
  border-bottom: 2px solid #fff;
}

.form__group-item .input-field > label {
  color: #fff;
}

.form__group-item [type="radio"]:not(:checked) + span {
  color: #fff;
}

.form__group-item [type="radio"]:not(:checked) + span:before, .form__group-item [type="radio"]:not(:checked) + span:after {
  border: 2px solid #fff;
}

.form__group-item [type="radio"].with-gap:checked + span:before, .form__group-item [type="radio"].with-gap:checked + span:after {
  border: 2px solid #fff;
}

.form__group-item [type="radio"]:checked + span:after, .form__group-item [type="radio"].with-gap:checked + span:after {
  background-color: #fff;
}

.form__group-item label {
  color: #fff;
}

.form__group-item .file-path-wrapper input::-webkit-input-placeholder,
.form__group-item .file-path-wrapper .file-path.validate {
  font-size: 1rem;
  color: #fff;
}

.form__group-item input.valid[type=text]:not(.browser-default) {
  border-bottom: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.form__wrap-input-feild {
  border: 2px solid transparent;
  position: relative;
  width: 194px;
  height: 43px;
}

.form__wrap-input-feild .icon-upload {
  position: absolute;
  left: 13px;
  top: 15px;
  font-size: 17px;
}

.form__wrap-input-feild .btn {
  width: 191px;
  height: 43px;
  border-radius: 3px;
  background-color: #288754;
  border-bottom: none;
}

.form__wrap-input-feild .btn:hover {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.form__wrap-input-feild .file-path-wrapper {
  overflow: initial;
  padding-left: 0px;
}

.form__wrap-input-feild .file-path.validate {
  position: absolute;
  top: 0;
  left: 0;
  width: 151px;
  height: 43px;
  line-height: 43px;
  border-radius: 3px;
  background-color: #288754;
  border-bottom: none;
  color: #fff;
  font-size: 17px;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 10px;
  padding-right: 30px;
  display: none;
}

.form__wrap-input-feild .file-path.validate.valid {
  display: block;
  cursor: not-allowed;
}

.form__wrap-input-feild .file-path.validate.valid ~ .file-icon-close {
  display: block;
}

.form__wrap-input-feild .file-icon-close {
  position: absolute;
  color: #fff;
  top: 11px;
  left: 160px;
  display: none;
}

.form__date-icon {
  position: absolute;
  right: -124px;
  bottom: -37px;
  cursor: pointer;
}

.form__btn {
  width: 130px;
  border-radius: 3px;
  background-color: #1c6efd;
  height: 43px;
  line-height: 43px;
}

.modal-page {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  display: none;
}

.modal-page__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-page__inner {
  width: 420px;
  height: 217px;
  border: solid 2px #fff;
  background-color: #fff;
  padding: 24px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 426px) {
  .modal-page__inner {
    width: 310px;
  }
}

.modal-page__title {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.modal-page__icon-warning {
  margin-right: 10px;
}

.modal-page__icon-close {
  margin-left: auto;
  cursor: pointer;
}

.modal-page__btn {
  margin-top: auto;
}

.activ-bg {
  background-color: #1c6efd;
}

.show {
  display: block;
}
/*# sourceMappingURL=style.css.map */