* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 0,9375rem;
  background-color: #1b3a57;
}

.wrapper {
  background-color: #1b3a57;
  min-height: 100vh;
  padding-bottom: 40px;
  position: relative;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 95%;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 550px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__fullname {
  font-size: 15px;
  color: #fff;
  padding-top: 5px;
}

.header__logo {
  margin-top: 20px;
}

.header__description {
  margin-left: auto;
  padding-top: 8px;
}

@media only screen and (max-width: 550px) {
  .header__description {
    margin-left: 0;
    margin-top: 25px;
    margin-bottom: 10px;
  }
}

.header__description-text {
  color: #fff;
  font-size: 12px;
  margin-bottom: 4px;
  text-align: right;
}

@media only screen and (max-width: 550px) {
  .header__description-text {
    text-align: left;
  }
}

.header__description-text:first-child {
  font-size: 15px;
}

.header__description-text:nth-child(2) {
  color: #fbc10a;
}

.card {
  background-color: #2e5ba9;
  color: #fff;
  padding: 10px;
  margin-top: 0;
}

.card__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1220px) {
  .card__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.card__img {
  width: 200px;
  width: 65%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1220px) {
  .card__img {
    width: 100%;
  }
}

.card__date {
  font-size: 12px;
  font-weight: normal;
  margin-left: 5px;
}

@media (max-width: 1220px) {
  .card__date {
    margin-left: 0;
    margin-top: 5px;
  }
}

.card__date span {
  font-size: 10px;
}

.card__title {
  margin: 8px 0px 13px 0;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
}

.card__title a {
  color: #fff;
  text-decoration: none;
}

.card__description {
  font-size: 12px;
  margin-bottom: 31px;
}

.main {
  padding-top: 40px;
  min-height: 100vh;
}

.main--2ndfl {
  padding-top: 0;
}

.main__title {
  margin: 0;
  font-weight: bold;
  letter-spacing: normal;
  color: #fff;
  margin-bottom: 20px;
}

.main__content-new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 850px) {
  .main__content-new {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main__content-card {
  width: 47%;
  margin-bottom: 30px;
}

@media (max-width: 850px) {
  .main__content-card {
    width: 100%;
  }
}

.main__content-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.main__content-select .select-wrapper {
  width: 110px;
  background-color: #fff;
}

.main__content-select .select-wrapper input.select-dropdown {
  line-height: 2rem;
  height: 2rem;
  padding-left: 5px;
  border-bottom: 0;
}

.main__content-input-group {
  margin-top: 30px;
  margin-bottom: 30px;
}

.main__content-input-group .input-field.col label {
  left: 0;
  color: #fff;
  top: -10px;
  font-size: 16px;
}

.main__content-input-group .row .col {
  padding: 0;
}

.main__content-input-group input[type=password]:not(.browser-default),
.main__content-input-group input[type=text]:not(.browser-default) {
  background-color: #fff;
  height: 2rem;
  line-height: 2rem;
  padding-left: 5px;
  border-bottom: none;
}

.main__content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 13px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
}

.main__content-title--middle {
  margin-top: 30px;
  margin-bottom: 15px;
}

.main__content-title img {
  position: relative;
  bottom: 2px;
}

.main__content-title span {
  margin-left: 10px;
}

.main__content-title i {
  font-size: 16px;
  color: #bdb9b9;
  padding-left: 5px;
}

.main__content-title--2ndfl {
  font-weight: 200;
  font-size: 12px;
}

.main__content-title--2ndfl .text-1 {
  border-bottom: 1px solid #fff;
}

.main__content-title--2ndfl span {
  margin: 0;
}

.main__content-list {
  width: 100%;
  position: relative;
}

.main__content-item {
  margin-bottom: 10px;
  width: 100%;
}

.main__right-content {
  position: absolute;
  right: 0;
  top: -30px;
  width: 61%;
}

@media only screen and (max-width: 620px) {
  .main__right-content {
    width: 100%;
    position: initial;
    margin-top: 15px;
    display: none;
  }
}

.main__content-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  width: 35%;
  height: 48px;
  border-radius: 4px;
  background-color: #2e5ba9;
  position: relative;
  cursor: pointer;
}

@media only screen and (max-width: 620px) {
  .main__content-link {
    width: 100%;
  }
}

.main__content-link--first {
  background-color: #1c6efd;
}

@media only screen and (max-width: 620px) {
  .main__content-link--first {
    background-color: #2e5ba9;
  }
}

.main__content-link:hover {
  background-color: #3b588a;
}

.main__content-link--right {
  width: 100%;
  background-color: #288754;
}

.main__content-link--right:hover {
  background-color: #288754;
}

.main__content-link--green {
  background-color: #288754;
  color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__content-link--out {
  background-color: transparent;
  border: solid 1px #fbc10a;
  color: #fbc10a;
}

.main__content-link--out:hover {
  background-color: transparent;
}

.main__content-icon {
  margin-left: 10px;
  margin-right: 10px;
}

.main__content-counter {
  position: absolute;
  height: 15px;
  width: 15px;
  color: #fff;
  background-color: red;
  border-radius: 50%;
  text-align: center;
  line-height: 15px;
  font-size: 12px;
  right: -5px;
  top: -5px;
}

.main__content-table-label {
  color: #fff;
  margin-top: 75px;
  margin-bottom: 15px;
}

@media (max-width: 1024px) {
  .main__content-wrap-table {
    overflow-x: scroll;
    padding-bottom: 10px;
  }
  .main__content-wrap-table::-webkit-scrollbar {
    width: 12px;
  }
  .main__content-wrap-table::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(247, 241, 241, 0.3);
    border-radius: 10px;
    background: #f1f1f1;
  }
  .main__content-wrap-table::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(223, 208, 208, 0.5);
    background: #888;
  }
}

@media (max-width: 1024px) {
  .main__content-table {
    width: 920px;
  }
}

.main__content-table td, .main__content-table th {
  border: 1px solid #fff;
  color: #fff;
  margin: 0px 39px;
}

.main__content-table td {
  font-size: 12px;
}

.main__content-table .th-25 {
  width: 25%;
}

.main__content-table .th-50 {
  width: 50%;
  text-align: left;
  padding-left: 30px;
}

.main__content-table .td-50 {
  text-align: left;
  padding-left: 30px;
}

.form__group {
  max-width: 645px;
  margin-bottom: 30px;
  padding: 20px 30px;
  background-color: #285580;
}

.form__group-title {
  color: #fff;
  margin-bottom: 35px;
  line-height: 22px;
}

.form__group-star {
  color: red;
  font-size: 21px;
}

.form__group-item {
  width: 135px;
  position: relative;
}

.form__group-item.radio-square [type="radio"]:checked + span:before, .form__group-item.radio-square [type="radio"].with-gap:checked + span:before {
  border-radius: 0;
}

.form__group-item.radio-square [type="radio"]:checked + span:after,
.form__group-item.radio-square [type="radio"].with-gap:checked + span:after {
  border-radius: 0;
}

.form__group-item.radio-square [type="radio"]:not(:checked) + span:before {
  border-radius: 0;
}

.form__group-item--radio {
  width: 100%;
}

.form__group-item--text {
  width: 75%;
}

@media screen and (max-width: 550px) {
  .form__group-item--text {
    width: 100%;
  }
}

.form__group-item.input-field {
  margin-bottom: 0;
  position: relative;
}

.form__group-item.input-field > label:not(.label-icon).active {
  -webkit-transform: translateY(-21px) scale(0.8);
          transform: translateY(-21px) scale(0.8);
}

.form__group-item input[type=text]:not(.browser-default) {
  height: 2rem;
  color: #fff !important;
  border-bottom: 2px solid #fff;
  padding-right: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.form__group-item .input-field > label {
  color: #fff;
}

.form__group-item [type="radio"]:not(:checked) + span {
  color: #fff;
}

.form__group-item [type="radio"]:not(:checked) + span:before, .form__group-item [type="radio"]:not(:checked) + span:after {
  border: 2px solid #fff;
}

.form__group-item [type="radio"].with-gap:checked + span:before, .form__group-item [type="radio"].with-gap:checked + span:after {
  border: 2px solid #fff;
}

.form__group-item [type="radio"]:checked + span:after, .form__group-item [type="radio"].with-gap:checked + span:after {
  background-color: #fff;
}

.form__group-item label {
  color: #fff;
}

.form__group-item .file-path-wrapper input::-webkit-input-placeholder,
.form__group-item .file-path-wrapper .file-path.validate {
  font-size: 1rem;
  color: #fff;
}

.form__group-item input.valid[type=text]:not(.browser-default) {
  border-bottom: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.form__group-item .select-wrapper .caret {
  right: -29px;
  fill: #fff;
  height: 30px;
  width: 30px;
}

.form__group-item input[type="date"]::-webkit-calendar-picker-indicator {
  color: #fff;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.form__group-item input[type="date"] {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.form__wrap-input-feild {
  border: 2px solid transparent;
  position: relative;
  width: 194px;
  height: 43px;
}

.form__wrap-input-feild .icon-upload {
  position: absolute;
  left: 13px;
  top: 15px;
  font-size: 17px;
}

.form__wrap-input-feild .btn {
  width: 191px;
  height: 43px;
  border-radius: 3px;
  background-color: #288754;
  border-bottom: none;
}

.form__wrap-input-feild .btn:hover {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.form__wrap-input-feild .file-path-wrapper {
  overflow: initial;
  padding-left: 0px;
}

.form__wrap-input-feild .file-path.validate {
  position: absolute;
  top: 0;
  left: 0;
  width: 151px;
  height: 43px;
  line-height: 43px;
  border-radius: 3px;
  background-color: #288754;
  border-bottom: none;
  color: #fff;
  font-size: 17px;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 10px;
  padding-right: 30px;
  display: none;
}

.form__wrap-input-feild .file-path.validate.valid {
  display: block;
  cursor: not-allowed;
}

.form__wrap-input-feild .file-path.validate.valid ~ .file-icon-close {
  display: block;
}

.form__wrap-input-feild .file-icon-close {
  position: absolute;
  color: #fff;
  top: 11px;
  left: 160px;
  display: none;
}

.form__date-icon {
  position: absolute;
  right: 2px;
  top: 12px;
  color: #fff !important;
  z-index: 1;
}

.form__btn {
  width: 130px;
  border-radius: 3px;
  background-color: #1c6efd;
  height: 43px;
  line-height: 43px;
}

.modal-page {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  display: none;
}

.modal-page__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-page__inner {
  width: 420px;
  height: 217px;
  border: solid 2px #fff;
  background-color: #fff;
  padding: 24px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 426px) {
  .modal-page__inner {
    width: 310px;
  }
}

.modal-page__title {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.modal-page__icon-warning {
  margin-right: 10px;
}

.modal-page__icon-close {
  margin-left: auto;
  cursor: pointer;
}

.modal-page__btn {
  margin-top: auto;
}

.activ-bg {
  background-color: #1c6efd;
}

.show {
  display: block;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: #fff;
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */